<div class="form-group" [class.has-error]="name.invalid && (name.dirty || name.touched)">

	<label for="name" class="control-label">Name</label>
	<input
		id="name"
		name="name"
		class="form-control"
		required minlength="4"
		forbiddenName="bob"
		[(ngModel)]="form.name"
		#name="ngModel"
		(input)="onClickMe()"
		(ngModelChange)="modelChanged($event)"
		>
    <p class="help-block">
    	<span *ngIf="name.invalid && (name.dirty || name.touched)">
    		<span *ngIf="name.errors.required">
    			Name is required.
    		</span>
    		<span *ngIf="name.errors.minlength">
    			Name must be at least 4 characters long.
    		</span>
    		<span *ngIf="name.errors.forbiddenName">
    			Name cannot be Bob.
    		</span>
    	</span>
    </p>
</div>


<!-- <h1>{{title}}</h1>
<nav>
	<a routerLink="/dashboard">Dashboard</a>
	<a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->
